<h1>ユーザ詳細</h1>
<div>
    <div class="pb-3 border-bottom">
        <h4>Name : <%= @user.name %></h4>
        <h4>Email : <%= @user.email %></h4>
    </div>
    <div class="pb-3">
        <div class="pt-3">
            <h4>投稿画像<span class="badge badge-pill badge-secondary"><%= @count_waterscapes %></span></h4>
            <%= render 'waterscapes/waterscapes', waterscapes: @user_waterscapes %>
        </div>
        <div class="pt-3">
            <h4>お気に入り水景<span class="badge badge-pill badge-secondary"><%= @count_liker %></span></h4>
            <%= render 'waterscapes/waterscapes', waterscapes: @likers %>
        </div>
    </div>
    <div class="p-1 pt-2">
        <%= link_to '新規投稿' , new_waterscape_path, class: "btn btn-primary" %>
        <%= link_to 'トップへ' , waterscapes_path, class: "btn btn-primary" %>
    </div>
</div>
