<h1>新規作成</h1>

<%= form_with(model: @waterscape, local:true) do |f| %>
    <%= f.label :image,'画像' %>
    <%= f.file_field :image %>
    
    <%= f.submit '投稿' %>

<% end %>

<div><%= link_to 'トップへ' , waterscapes_path, class: "btn btn-primary" %></div>